<table *ngIf="countries?.length > 0">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>ISO</th>
        <th>Airports</th>
        <th>Delete</th>
    </tr>
    <tr *ngFor="let country of countries">
        <td>{{country.countryId}}</td>
        <td>{{country.name}}</td>
        <td>{{country.iso}}</td>
        <td *ngIf="country.airports?.length == 0">No airports</td>
        <td *ngFor="let airport of country.airports">
            {{airport.name}}<br>
        </td>
        <td>
            <button (click)="onDeleteButtonClick(country)">Delete</button>
        </td>
    </tr>
</table>
<p *ngIf="countries?.length == 0">Countries list is empty</p>
<p *ngIf="errorMessage != null">{{errorMessage}}</p>